# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=gondola.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=zTJTeoFZBQtULGknHuxJnSuhjPAaYyLw
DB_NAME=railway
DB_PORT=3306

# JWT Configuration
JWT_SECRET=abcdef1234567890
JWT_EXPIRE=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

# Email / SMTP Configuration (para nodemailer)
# ... (tus otras variables como DB_HOST, JWT_SECRET, etc.)

# Configuración SMTP para Correos
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dbalasnoa@uniguajira.edu.co
SMTP_PASS=fqmyknhpcbffshdu
CORS_ORIGIN=http://localhost:5173

# Frontend URL used in password reset links
FRONTEND_URL=http://192.168.40.8:5173

# Logger
LOG_LEVEL=debug
